<div class="container">
    <div class="login">
        <div class="container">
            <h1>Register new user</h1>

            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Name" formControlName="name"><br>
                <input type="text" placeholder="Surname" formControlName="surname"><br>
                <input type="email" placeholder="Email" formControlName="email">
                <input type="password" placeholder="Password" formControlName="address"><br>
                <button class="button" type="submit">Register</button>

            </form>
        </div>
    </div>


    <div class="registered">
        <div class="container">
            <i class="fas fa-user-plus fa-5x"></i>
            <h1>Registered users</h1>
            <table class="rwd-table">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
                <tr *ngFor="let user of userFormData">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>